.wy-side-nav-search>a {
    color: #123456;
}

code.literal {
    color: #e98222 !important;
    background-color: #fbfbfb !important;
}

.custom-header {
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8525rem;
  background-color: white;
  width: 100%;
  z-index: 250;
  position: fixed;
  padding: 1.3em;
  padding-left: 1.3em;
  padding-left: 30px;
  margin-left: 300px;
  -webkit-box-shadow: 0px 1px 1px #e1e1e1;
  -moz-box-shadow: 0px 1px 1px #e1e1e1;
  box-shadow: 0px 1px 1px #e1e1e1;
}



 <div class="custom-header">
  <ul id="horizontal-list">
     <li>
     <a href="https://www.percipio.xyz" target="blank">Official Website</a>
     </li>
     <li>
     <a href="https://www.percipio.xyz" target="blank">Official Website</a>
     </li>
  </ul>
 </div>
</body>
